*{
  font-family: 'Poppins';
  color: #fff;
}
body{
  background-color:#3E5A66;
}

.nav{
    background-color: #e49d22;
    margin: 0 0;
    height: 115px;
    text-align: center;
    border-radius: 50px;
    margin-top: 20px;
}

.title{
  margin: 0 auto;
  
}
.text-container{
  text-align: center;
}
.input-container{
  margin-top: 50px;
}
.container{
  display: flex;
  align-items: center;
}
.inputs{
  color: #000;
}
.logo{
  height: 110px;
  margin-left: 33px;
}
.logo:hover{
  transform: rotate(180deg);
}
.codigo{
  display: none;
}
nav:hover{
  transform: rotate(-10deg);
}
nav:hover .codigo{
  display: block;
}
nav:hover .advice{
  display: none;
}

.recover-your-account{
  align-items: center;
  background-color: coral;
  color: #fff;
  height: 300px;
  padding: 10px 30px;
  width: 500px;
  margin: 10% auto;
}
.btn{
  margin-top: 30px;
  margin-left: 20px;
  outline-style: solid;
  outline-color: #3E5A66;
background-color: transparent;
  color: #fff;
  cursor:pointer;
  list-style: none;
  padding: 10px;



}
.btn:hover{

background-color: #3E5A66;


}

.container-phrase{
  text-align: center;
}
.vl {
  border-left: 6px solid #3E5A66;
  height: 400px;
  position: absolute;
  left: 50%;
  margin-top:15% ;
  margin-left: 6px;
  top: 0;
  -ms-transform: rotate(15deg); /* IE 9 */
  -ms-transform-origin: 20% 40%; /* IE 9 */
  transform: rotate(15deg);
  transform-origin: 20% 40%;
}
.text{

  cursor: pointer;
}
.text:hover{
  color: #000;
}
.text-small-container{
  position: absolute;
  margin-top: 4%;
  margin-left: 20%;
}
.footer{
  margin: 0 0;
  height: 80px;
  color: #fff;
  text-align: center;

}
.footer-link{
    text-decoration: none;
    color: orange;
}
.footer-link:hover{
  text-decoration: none;
  color: #ff8000;
}

@media only screen and (min-width: 1680px) {
  
  .text-small-container{
    position: absolute;
    margin-top: 4%;
    margin-left: 15%;
  }
 
} 
@media only screen and (min-width: 2100px) {
  
  .text-small-container{
    position: absolute;
    margin-top: 4%;
    margin-left: 12%;
  }

 
} 
@media only screen and (max-width: 1680px) {
  
  .text-small-container{
    position: absolute;
    margin-top: 4%;
    margin-left: 19%;
  }
 
}
@media only screen and (max-width: 1350px) {
  
  .text-small-container{
    position: absolute;
    margin-top: 4%;
    margin-left: 24%;
  }
 
}


@media only screen and (max-width: 1100px) {
  .nav{
      font-size: 15px;
      text-align: center;
      height: 250px;
      
  }
  *{
      font-size: 40px;
    }
    .footer{
      margin: 50% 0;
      height: 80px;
      color: #fff;
      text-align: center;
    
    }
    .vl {
      border-left: 10px solid #3E5A66;
      height: 970px;
      position: absolute;
      left: 60%;
      margin-top:65% ;
      top: 0;
      -ms-transform: rotate(15deg); /* IE 9 */
      -ms-transform-origin: 20% 40%; /* IE 9 */
      transform: rotate(90deg);
      transform-origin: 20% 40%;
    }
    .text-small-container{

      margin-left: 20%;
      margin-top: 55%;
    }

    .recover-your-account{
      align-items: center;
      text-align: center;
      background-color: coral;
      color: #fff;
      height: 800px;
      padding: 5px 20px;
      width: 900px;
      margin: 20% auto;
    }

 
}   
  @media only screen and (max-width: 500px) {
      .nav{
          font-size: 15px;
          text-align: center;
          height: 300px;
          
      }
        .footer{
          margin: 50% 0;
          height: 80px;
          color: #fff;
          text-align: center;
        
        }
      
      *{
          font-size: 50px  !important;
        }
        .footer{
          margin: 0 0;
          height: 80px;
          color: #000;
          text-align: center;
          margin-top:30% ;
        }

      

  }
  @media only screen and (max-width: 360px) {
    nav {
      width: 360px;
      height: 100px;
      font-size: 25px;
      text-align: center;
      
  }
  .footer{
    margin: 50% 0;
    height: 80px;
    color: #fff;
    text-align: center;
  
  }


      
  
    }
