section{
	
	margin: 4px;
	padding: 35px;
	border: 25px;
	border-radius: 10px;
	background-color: #3E5A66 ;

}

 
body{
	color: #fff !important;
    font-family: 'Poppins';

}

.img-container img {
  -webkit-transition:all .7s ease;
  -moz-transition:all .7s ease;
  -o-transition:all .7s ease;
  -ms-transition:all .7s ease;
  width:100%;
}
.img-container:hover img {
  -webkit-transform:scale(1.5);
  -moz-transform:scale(1.5);
  -ms-transform:scale(1.5);
  -o-transform:scale(1.5);
   transform:scale(1.5);
}
.img-container {
   height: 250px;
   width: 250px;
   display:block;
   margin:auto;
   overflow:hidden;
 
}
 
footer{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	background-color: #e49d22 !important;
    border: 25px;
	border-radius: 10px;
	background-color: #3E5A66 ;

}

header{
    border: 25px;
	border-radius: 10px;
	flex-direction: row;
	justify-content: space-around;

}

@media screen and (max-width: 280px){
	header{
   padding-left: 2px;
	}
	footer{
    padding-right: 60px;
    max-width:  4000px;
    display:flex;
    display: inline-block; margin-right: 50%;
    width: 200px;
}
}

@media screen and (max-width: 360px){
	img{
		height: 100px;
		width: 100px;
        display:block;
        margin:auto;
        overflow:hidden;
}
}

@media screen and (max-width: 280px){
   img {
    max-width: 200px;
    max-height: 200px;
    min-height: 250px;
    display: inline-block; margin-right: 50%;

  }
}
