
body{
	background-color: #3E5A66;
    color: #fff;
    font-family: 'Poppins';
}
.logo{
    height: 250px;
    width: 350px;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #3E5A66;
}
.product{
    background-color: #fff;
    color: #000;
}
input{
    border-radius: 50px;
    padding: 10px 5px;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 20px;
    background-color: lightblue;
}
.btn{
        border-radius: 50px;
        padding: 10px 5px;
        cursor: pointer;
        font-family: "Poppins";
        font-size: 20px;
        background-color: lightblue;
    
}

.btn:hover{
    background-color: yellowgreen;
}

header{
	font-family: "Poppins";
	margin: 4px;
	padding: 35px;
	border: 25px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #e49d22;
    -webkit-transition: all 2s linear 0s;
    -moz-transition: all 2s linear 0s;
    -ms-transition: all 2s linear 0s;
    -o-transition: all 2s linear 0s
}
	

.acceso-rapido{
	background-color:#FFB600;
	margin: 4px;
	padding: 15px;
	margin-right: 300px;
	border-radius: 10px;
	border: 20px;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

header input:hover{
	background-color:#F3FA00 ;
}

.ajuste{
	font-size: 22px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	border-radius: 10px;
	border: 20px;
	margin: 4px;
}


.buscador{
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: flex-start;
}

.buscador div{
	padding: 35px;
}

.contenido{
	margin: 80px;
	padding: 50px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.contenido div{
	border: 3px solid black;
	padding: 20px;
	width: 350px;
	text-align: center;
	line-height: 75px;
	font-size: 22px;
	margin: 20px;

}
section input:hover{
	background-color:#F3FA00; 
}

.aside{
	margin:4px;
	padding: 40px;
	border:25px;
	border-radius: 10px;
	 -webkit-transform: translateX(400px) translateY(0px);
  -moz-transform: translateX(400px) translateY(0px);
  -o-transform: translateX(400px) translateY(0px);
  -ms-transform: translateX(400px) translateY(0px);
}

.aside{
  -webkit-transition: transform 2s ease-in-out 100ms;
  -moz-transition: transform 2s ease-in-out 100ms;
   -o-transition: transform 2s ease-in-out 100ms;
  -ms-transition: transform 2s ease-in-out 100ms;

}


aside input:hover{
	background-color:#F3FA00;
}

.img-main {
	width: 100%;
	height: auto;
}


.flex-container{

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #FFB600;
    color: #FFFFFF;
	padding: 40px;
	margin: 4px;
	border: 25px;
	border-radius: 10px;
	font-size: 22px;
	box-sizing: border-box;
    -webkit-transition: all 2s linear 0s;
    -moz-transition: all 2s linear 0s;
    -ms-transition: all 2s linear 0s;
    -o-transition: all 2s linear 0s;
}

@media screen and (max-width: 412px ){
	.acceso-rapido{
        margin-left: 10px;

		text-align: left;
        flex-direction: column;
       align-content: right;
       box-sizing: border-box;

    }
    aside{
        margin-left: 100px;
    }
    header{
        flex-direction: column;
    }

    .header{
        width: 250%;
        height: 100%;
    }
    img{
        width: 50%;
        height: auto;
    }

    nav{
        width: 100%;

    }


    .contenido div {
    	font-size: 10px;
    	border: 5px;
    	margin: 2px;
    	padding: 2px;
    	display: flex;
    	flex-direction: column;
    	align-content: left;
    	flex-wrap: nowrap;
    	align-items: flex-start;
    }

    section{
        flex-direction: column;
        align-items: center;

    }

    footer{
        
        width:550px;

    }

}

@media screen and (max-width: 768px){
    body{
        font-size: 30px;
    }
    nav{
        height: 300px;
        width: 900px;

    }
    .header{
        width: 250%;
        height: 100%;
    }

	header{
	flex-direction: column;
	flex-wrap: nowrap;
	}

	.acceso-rapido{
		text-align: left;
		margin: 30px;
	}

    section{
        flex-direction: column;
    }

    footer{
        width: 130%;
        text-align: center;
    }

    img{
        width: 50%
    }

}

@media screen and (max-width: 992px){
nav{
        flex-direction: column;

    }

    section{
        flex-direction: column;
    }

    footer{
        text-align: center;
        width: 1000px;
    }

    img{
        width: 70%
    }
    .header{
        width: 250%;
        height: 100%;
    }


    aside {
        flex-direction: row;

}
}

@media screen and (max-width: 1200px){
nav{
        flex-direction: column;

    }

    section{
        flex-direction: column;
    }

    footer{
        flex-direction: column;
        text-align: center;
    }

    img{
        width: 80%
    }

    aside {
        flex-direction: row;

 }
}

@media screen and (max-width: 1400px){
nav{
        flex-direction: column;

    }

    section{
        flex-direction: column;
    }

    footer{
        flex-direction: column;
        text-align: center;
    }

    img{
        width: 90%
    }

    aside {
        flex-direction: row;

    }

}

@media screen and (max-width: 1800px){
nav{
        flex-direction: column;

    }

    .contenido div{
        flex-direction: column;
        text-align: left;
    }

    footer{
        flex-direction: column;
        text-align: center;
    }

    img{
        width: 100%
    }

    aside {
        flex-direction: column;

       }

}

body{
    margin:0;
    overflow-x:hidden;
    font-family: 'Nunito', sans-serif;
    }
    
    
    /*DEFAULT*/
    a{
    text-decoration:none;
    }
    li{
    list-style:none;
    position:relative;
    right:20px;
    }
    .title{
    font-family: 'Recursive', sans-serif;
    }
    .sub-title{
    font-family: 'Raleway', sans-serif;
    }


    .btn1:hover{
    background:#000;
    }
    
    .cartas{
    width:100%;
    padding:5vh 0;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    }
    
    .cartas .carta{
    width:20%;
    border-radius:30px;
    display:inline-block;
    margin:10px;
    border-radius:5px;
    position:relative;
    transition:0.5s;
    text-align:center;
    padding-bottom:10px;
    box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
    }
    
    .cartas .carta .lomas-vendido{
    position:absolute;
    top:-5px;
    right:0;
    padding:3px 5px;
    text-align:center;
    background:#FFB600;
    color:#fff;
    font-size:12px;
    }
    
    .cartas section{
    padding:30px 0;
    background:#36cccb;
    margin:auto;
    text-align:center;
    }
    
    .cartas .price{
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    padding:25px;
    border-radius:50%;
    border:2px solid #fff;
    text-align:center;
    height:50px;
    width:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    top:-10vh;
    background:#fff;
    }
    
    .cartas:hover > .price_icon{
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    }
    
    .cartas .price b{
    font-size:11px;
    color:gray;
    display:block;
    position:absolute;
    bottom:20px;
    right:35%;
    }
    
    
    .cartas .carta ul li{
    padding:5px 0;
    }
    
    @media (max-width:900px){
    .cartas{
    width:100%;
    display:block;
    }
    .cartas .carta{
    width:90%;
    }
    }
    @media (min-width:1800px){
        .cartas{
        width:20%;
        display:flex;
        justify-content: space-between;
        }
        img{
            height: 150px;
        }
        .cartas .carta{
        width:90%;
        }
        }