nav {
    background-color: #e49d22;
    color: white;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
}
body{
    background-color: #3E5A66;
    color: #fff !important;
    font-family: "Poppins";
}
.Gaming{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
  }
a{
    text-decoration: none;
    color: #fff
}
a:hover{
    color: #000;
    
}

.container-header{
    text-align: center;
}

img{
    height: 350px;

}
p{
    font-size: 20px;
}

main{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.container-header{
    display: relative;
}

.footer{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	background-color: #e49d22 !important;
    border: 25px;
	border-radius: 10px;
	background-color: #3E5A66 ;
    margin-top: 30px;

}
@media screen and (max-width: 1300px){

    nav {

        font-size: 25px;

    }
	img{
		height: 200px;

	}
    main{
        margin: 0 auto;
        display: inline-block;
        margin-top: 50px;
        justify-content: space-between;
        text-align: center;
    }


    
}